#------------------------------ Important Note ----------------------
# this lombok config is used to apply global annotations for lombok library

#To control this behavior, you can use the config.stopBubbling option in your lombok.config file.
# Setting this option to true will tell Lombok to only read options from the lombok.config file
#in the current directory and to ignore any higher-level lombok.config files.
config.stopbubbling=true

#Setting lombok.accessors.prefix=false in your lombok.config file will disable the generation of accessor methods
#(getter and setter methods) for your class fields. This means that Lombok will not generate any methods to access your fields,
#and you will need to write them manually.

#lombok.accessors.prefix=false


#----------------------- Options For Prefix --------------------------------

#In Lombok, the lombok.accessors.prefix configuration setting allows you to specify a custom prefix to use for generating getter and setter methods for your class fields. The following are the available options for this setting:
#none: If you set lombok.accessors.prefix to none, Lombok will generate getter and setter methods without any prefix. For example, if you have a field named id, Lombok would generate methods with names like id() and id(value).
#get: If you set lombok.accessors.prefix to get, Lombok will generate getter methods with the prefix get. For example, if you have a field named id, Lombok would generate a method with the name getId().
#is: If you set lombok.accessors.prefix to is, Lombok will generate getter methods with the prefix is for boolean fields. For example, if you have a field named active, Lombok would generate a method with the name isActive().
#set: If you set lombok.accessors.prefix to set, Lombok will generate setter methods with the prefix set. For example, if you have a field named id, Lombok would generate a method with the name setId(value).
#m: If you set lombok.accessors.prefix to m, Lombok will generate getter and setter methods with the prefix m. For example, if you have a field named id, Lombok would generate methods with names like getId() and setId(value).
#f: If you set lombok.accessors.prefix to f, Lombok will generate getter and setter methods with the prefix f. For example, if you have a field named id, Lombok would generate methods with names like getId() and setId(value).
#By default, Lombok uses the get prefix for generating getter methods and the set prefix for generating setter methods. However, you can customize the prefix to use by setting the lombok.accessors.prefix configuration setting in your lombok.config file.

